<section class='conversation-section'>
  <div class="conversation-wrapper">
    <% if @over_ten %>
    <p>
      <%= link_to 'Show Previous', '?m=all' %>
    </p>
    <% end %>
    <div>
     <% @messages.each do |message| %>
      <% if message.body %>
       <% user = User.find(message.user_id) %>
       <div>
        <div class="content">
         <div class="header"><strong><%= user.name %></strong>
           <%= message.message_time %></div>
          <div class="list">
           <p>
            <i class="right triangle icon"></i>
             <%= message.body %>
          </p>
        </div>
       </div>
     </div>
     <% end %>
    <% end %>
    </div>
    <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
     <div class="field">
       <%= f.text_area :body, class: "form-control" %>
     </div>
     <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
     <div>
       <%= f.submit "Add Reply" %>
     </div>
    <% end %>
    <p>
      <%= link_to 'All Messages', conversations_url %>
    </p>
  </div>
</section>
